<html>
    <head>
        <title>{{ config['APP_NAME'] }}</title>
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
        <!-- siimple -->
        <link rel="stylesheet" href="/siimple/siimple.min.css">
        <!-- jalt -->
        <link rel="stylesheet" href="/css/agenda.css">
        <link rel="stylesheet" href="/css/icon.css">
        
    </head>
    <body>
        {% if current_user.is_authenticated %}
            {% block navbar %}{% endblock %}
            <div class="siimple-navbar no-print"></div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="general siimple-tip siimple-tip--{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div id="content" class="siimple-content--fluid">
        {% endif %}
        {% block body %}{% endblock %}
        {% if current_user.is_authenticated %}
            </div>
        {% endif %}

    </body>
</html>